<div class="container_10 clearfix">
	<div class="grid_7">
		<div class="profile-container">
			<div class="profile-header">
				<div class="header-arrow"></div>
				<div class="profile-avatar">
					<%= image_tag(@user.default_avatar) %>
				</div>
				<div class="profile-name">
					<% if user_signed_in? && current_user.id == @user.id %>
            <%= best_in_place @user, :name, path: profile_path(@user), activator: "#activator-#{@user.id}", display_as: :short_name %>
						<%= link_to "","", id: "activator-#{@user.id}", class: "edit-me" %>
					<% else %>
						<span><%= @user.short_name %></span>
					<% end %>
					<em>MORU-д нэгдсэн огноо: <%= @user.created_at.to_date %></em>
				</div>
			</div>
			<div class="profile-body">
				<div class="profile-topic">
					<% if @user.topics.length > 0 %>
            <%= render partial: 'topics', locals: { title: 'Үүсгэсэн сэдвүүд', topics: @user.topics } %>
					<% else %>
						Одоогоор сэдэв үүсгээгүй байна ...
					<% end %>
          <%= render partial: 'topics', locals: { title: 'Ярьсан сэдвүүд', topics: @user.assigned_topics } if @user.assigned_topics.length > 0 %>
				</div>
			</div>
		</div>
	</div>

  <!-- SIDEBAR -->
	<div class="grid_3">
		<div class="right-content clearfix">
			<%= render 'like_box' %>
		</div>
	</div>
</div>
