<div class="comment-container">
  <!-- COMMENT LIST -->
	<div class="title-label">
		<span> Сэтгэгдэл (<em id="comments-counter"><%= commentable.comments_count %></em>)</span>
		<div class="line"></div>
	</div>
	<div class="comment-list" id="comment-list">
    <%= render partial: 'comments/comment', collection: comments %>
	</div>
	<!-- NEW COMMENT -->
	<%= render(partial: 'comments/new_comment', locals: { commentable: commentable }) if user_signed_in? %>
</div>
<script>
  $(function(){
    infinity_pagination('<%= pagination_url %>', <%= comments.num_pages %>);
  });
</script>
