<div class="topic-item">
  <div class="topic-context clearfix">
	  <div class="topic-header clearfix">
		  <div class="avatar"><%= image_tag(topic.user.default_avatar) %></div>
			<div class="topic-user">
        <span><%= topic.user.name %><br/>
          <em><%= time_ago_in_words(topic.created_at) %> өмнө</em>
				</span>
        <%= link_to "-", downvote_topic_path(topic), class: "vote-down", remote: true, method: :put %>
        <%= link_to "+", upvote_topic_path(topic), class: "vote-up", remote: true, method: :put %>
			</div>
      <div class="pulse"><span class="down" id="topic-<%= topic.id %>-votes"><%= topic.avg_votes %></span></div>
		</div>
		<div class="topic-text"><%= topic.content %></div>
	</div>

	<div class="topic-tools clearfix">
    <div id="topic-speaker-<%= topic.id %>">
      <% if topic.speaker %>
        <%= render partial: 'speaker', locals: {topic: topic} %>
      <% elsif user_signed_in? %>
        <%= link_to "энэ сэдвийг ярих", assign_topic_path(topic), class: "speak-topic", remote: true, method: :put %>
      <% end %>
    </div>
		<nav class="social-login noneBackground nonePadding">
		  <ul>
			  <li><a href="javascript:void(0)" class="social-twitter"></a></li>
				<li><a href="javascript:void(0)" class="social-facebook"></a></li>
				<li><a href="javascript:void(0)" class="social-google_oauth2"></a></li>
			</ul>
		</nav>
	</div>
</div>
