<div class="topic-item-s">
	<div class="topic-header">
		<% if topic.event.present? %>
			<%= link_to "", event_path(topic.event.id), {class:"past-event", rel: 'tooltip', title: topic.event.title+"aнд яригдсан" } %>
		<% end  %>
		<div class="topic-vote">
			<% if user_signed_in? && topic.user_id != current_user.id %>
				<% if current_user.voted_up_on?(topic) %>
					<%= link_to "", downvote_topic_path(topic), class: "up-voted", id: "topic-#{topic.id}-vote-link", remote: true, method: :put %>
				<% elsif current_user.voted_down_on?(topic) %>
					<%= link_to "", upvote_topic_path(topic), class: "votable", id: "topic-#{topic.id}-vote-link", remote: true, method: :put %>
				<% else %>
					<%= link_to "", upvote_topic_path(topic), class: "votable", id: "topic-#{topic.id}-vote-link", remote: true, method: :put %>
				<% end %>
			<% else %>
				<a href="javascript:void(0)" class="votable" style="cursor:default;" id="topic-<%= topic.id %>-vote-link"></a>
			<% end %>
			<div class="poll-stat"><span class="down" id="topic-<%= topic.id %>-votes"><%= topic.cached_votes_up %></span></div>
		</div>
		<div class="avatar <%= 'past-avatar' if topic.event.present? %>"><%= image_tag(topic.user.default_avatar) %></div>
		<div class="topic-text">
			<h2><%= link_to topic.try(:title), topic_path(topic), class: "topic-title" %></h2>
			<div class="topic-tool">
				<span class="topic-author"><i class="author"></i> <%= truncate(topic.user.name, length: 30) %> </span>
				<span class="topic-date"><i class="date"></i> <%= time_ago_in_words(topic.created_at) %> өмнө </span>
				<span class="topic-comment"><i class="comment"></i> <%= topic.comments_count %> сэтгэгдэл </span>
			</div>
 		</div>
	</div>
	<div class="topic-body clearfix">
		<div class="left-tool">
			<% if user_signed_in? %>
			<div class="topic-speaker">
				<div id="topic-speaker-<%= topic.id %>">
					<% if topic.speaker %>
						<%= render partial: 'speaker', locals: {topic: topic} %>
					<% else %>
						<%= link_to image_tag("talk-topic.png")<<content_tag(:span, "сэдвийг ярих"), assign_topic_path(topic), class: "speak-topic", remote: true, method: :put %>
					<% end %>
				</div>
			</div>
		 	<% else %>
				<% if topic.speaker %>
					<div class="topic-speaker">
						<div id="topic-speaker-<%= topic.id %>">
							<%= render partial: 'speaker', locals: {topic: topic} %>
						</div>
					</div>
				<% end %>
			<% end %>
			<div class="social-login">
				<ul>
					<%= render partial: 'shared/share_buttons', locals: {url: topic_url(topic)} %>
					<li><%= link_to "", topic_path(topic), class: "topic-more" %></li>
				</ul>
			</div>
		</div>
		<div class="right-tool">
			<span>
				<%= topic.content %>
			</span>
		</div>
	</div>
</div>