<div class="event-container">
	<div class="container_10 clearfix">

    <!-- CONTENT -->
		<div class="grid_7">
			<div class="left-content">
				<%= render 'new_topic' %>
				<% unless @topics.empty? %>
					<div class="topic-filter">
						<%= link_to_topic("шинээр нэмэгдсэн", "newest") %>
						<%= link_to_topic("их саналтай", "voted") %>
						<%= link_to_topic("бүгд", "") %>
						<%= link_to_topic("яригдсан", "talked") %>
					</div>
					<div class="topic-list" id="topic-list">
						<%= render partial: 'topic', collection: @topics %>
					</div>
				<% end %>
			</div>
		</div>

    <!-- SIDEBAR -->
		<div class="grid_3">
			<div class="right-content clearfix">
				<%= render 'next_event' %>
			</div>
		</div>

  </div>
  <p id="back-top"><a href="#top"><span></span>Дээш очих</a></p>
  <script>
    $(function(){
      infinity_pagination('<%= topics_path %>', <%= @topics.num_pages %>, 'list_type=<%= params[:list_type] %>');
    });
  </script>
</div>
