<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["OAUTH_FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "Moru" %>
  <%= tag :meta, property: "og:type", content: "mongolian_rubyist:topic" %>
  <%= tag :meta, property: "og:title", content: topic.title %>
  <%= tag :meta, property: "og:url", content: topic_url(topic) %>
  <%= tag :meta, property: "og:image", content: moru_logo_url %>
<% end %>

<div class="event-container">
  <div class="container_10 clearfix">
	  <div class="grid_10">
		  <div class="topic-list" id="topic-list">
        <%= render topic %>
      </div>
    </div>
  </div>
</div>
