<h1>Home#index</h1>

<% flash.each do |key, value| %>
  <p><%= value%></p>
<% end %>

<% if user_signed_in? %>
  <p>Welcome <%= current_user.try :name %>!&nbsp;<%= link_to "Logout", logout_path %></p>
<% end %>

<p>
  <%= login_with_twitter %><br/>
  <%= login_with_facebook %><br/>
  <%= login_with_github %><br/>
  <%= login_with_google_oauth2 %>
</p>

<p>
  <%= link_to "Events", events_path %><br/>
  <%= link_to "Topics", topics_path %>
</p>
