<div class="container_10 clearfix" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<div class="grid_10">
		<%= render  partial: 'application/event', locals: {event: event.extend(GoingContext)}%>
		<div class="grid_3 alpha">
			<div class="event-members clearfix">
				<div class="title-label">
          <span> Ирэх гишүүд (<%= event.count_going %>)</span>
					<div class="line"></div>
				</div>
				<ul id="member-list">
					<% event.with_going.each_with_index do |rsvp, index| %>
						<% index += 1  %>
						<li <%= 'class=last' if index % 5 == 0 %>>
							<%= link_to image_tag(rsvp.user.default_avatar), profile_path(rsvp.user), { rel: 'tooltip', title: rsvp.user.name } %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="grid_7 omega">
			<!-- COMMENTS -->
			<%= render(partial: 'comments/comments',
								 locals: {
												 comments: @comments,
												 pagination_url: event_comments_path(event),
												 commentable: event
								 }) %>
		</div>
	</div>
</div>

