<div class="container_10 clearfix" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<div class="grid_10">
		<div class="grid_7 alpha">
			<!-- begin left content -->
			<div class="left-content">
				<div class="event-view-container">
					<div class="event-content">
						<div class="event-map">
							<iframe width="620" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=215856206744799561428.0004d34aca70dcfa12167&amp;ie=UTF8&amp;t=h&amp;iwloc=0004d34ad183a7237804f&amp;ll=47.924521,106.921113&amp;spn=0,0&amp;output=embed"></iframe>
						</div>
						<div class="event-text">
							<div class="event-topic-schedule">
								<div class="event-date">
                  <span><%= event.date.year %></span>
									<em>1 сарын 23</em>
								</div>
								<div class="event-time"><span>13:00</span></div>
							</div>
							<div class="event-topic-text">
                <h2><%= event.title %></h2>
                <span><%= event.content %></span>
								<ul>
									<li> - Front End Development: +Bayarja Buyandelger </li>
									<li> - Backbone.js: +Khaschuluu Munkhbayar </li>
									<li> - Data-Context-Interaction /DCI/: Zolzaya </li>
								</ul>
							</div>
						</div>
						<div class="event-bottom-tool clearfix">
							<ul class="social-buttons">
								<li><a href="javascript:void(0)" class="social-facebook"></a></li>
								<li><a href="javascript:void(0)" class="social-twitter"></a></li>
								<li><a href="javascript:void(0)" class="social-google_oauth2"></a></li>
							</ul>
							<a href="javascript:void(0)" class="event-members">ирсэн гишүүд</a>
						</div>
					</div>
					<div class="member-list clearfix">
						<ul id="member-list">
							<li><%= image_tag('avatar.png', rel: "tooltip", alt: "fasdfasdfasdfasdf") %></li>
							<li><%= image_tag('avatar.png', rel: "tooltip", alt: "aaaaaaaaaa") %></li>
							<li><%= image_tag('avatar.png',rel: "tooltip", alt: "bbbbbbbbbb") %></li>
							<li><%= image_tag('avatar.png',rel: "tooltip", alt: "cccccccccc") %></li>
							<li><%= image_tag('avatar.png') %></li>
							<li><%= image_tag('avatar.png') %></li>
							<li><%= image_tag('avatar.png') %></li>
							<li><%= image_tag('avatar.png') %></li>
						</ul>
					</div>

          <%= render 'comments' %>

				</div>
			</div>
			<!-- end left content -->
		</div>
		<div class="grid_3 omega">
			<!-- begin right content -->
			<div class="right-content clearfix">
			</div>
			<!-- end right content -->
		</div>
	</div>
</div>
