<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["OAUTH_FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "Moru" %>
  <%= tag :meta, property: "og:type", content: "mongolian_rubyist:screencast" %>
  <%= tag :meta, property: "og:title", content: screencast.title %>
  <%= tag :meta, property: "og:url", content: screencast_url(screencast) %>
  <%= tag :meta, property: "og:image", content: screencast.try(:image_url) %>
  <%= tag :meta, property: "og:video", content: screencast.try(:url) %>
<% end %>
<div class="screencast-container">
  <div class="container_10 clearfix">
	  <div class="grid_10">
      <div class="screencast-show clearfix">
        <div class="show-left">
          <h2><%= screencast.title %></h2>
          <div class="cast-text"><%= raw(screencast.content) %></div>
          <div class="castshow-tool clearfix">
            <span class="tool-item"><i class="author-icon"></i><%= screencast.user.name %></span>
            <span class="tool-item"><i class="createdby-icon"></i><%= I18n.localize(screencast.created_at, format: :short) %></span>
          </div>
		      <div class="social-links clearfix">
      			<a onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" class="tweet-event" target="_blank" href="https://twitter.com/share?url=<%= screencast_url(screencast) %>"></a>
      			<a class="fb-event" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=<%= screencast_url(screencast) %>"></a>
      			<a class="gplus-event" onclick="return !window.open(this.href, 'GooglePlus', 'width=640,height=300')" href="https://plus.google.com/share?url=<%=screencast_url(screencast) %>" target="_blank" ></a>
	    		</div>
        </div>
        <div class="show-right">
          <iframe width="640px" height="352px" src="<%= screencast.url %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <!-- LEFT CONTAINER -->
		  <div class="grid_3 alpha">
        <% if @recent_screencasts.size > 0 %>
          <div class="left-content">
            <%= render 'recent_screencasts' %>
          </div>
        <% else %>
			    <div class="right-content clearfix">
            <%= render 'like_box' %>
          </div>
        <% end %>
      </div>

      <!-- SIDEBAR -->
		  <div class="grid_7 omega">
        <div class="right-content clearfix">
          <!-- COMMENTS -->
          <%= render(partial: 'comments/comments',
                     locals: {
                        comments: @comments,
                        pagination_url: screencast_comments_path(screencast),
                        commentable: screencast
                    }) %>
        </div>
      </div>

    </div>
  </div>
</div>
