<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["OAUTH_FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "Moru" %>
  <%= tag :meta, property: "og:type", content: "mongolian_rubyist:screencast" %>
  <%= tag :meta, property: "og:title", content: screencast.title %>
  <%= tag :meta, property: "og:url", content: screencast_url(screencast) %>
  <%= tag :meta, property: "og:image", content: screencast.try(:image_url) %>
  <%= tag :meta, property: "og:video", content: screencast.try(:url) %>
<% end %>

<div class="event-container">
  <div class="container_10 clearfix">
	  <div class="grid_10">

      <!-- LEFT CONTAINER -->
		  <div class="grid_7 alpha">
			  <div class="left-content">
          <h2><%= screencast.title %></h2>

          <!-- COMMENTS -->
          <%= render(partial: 'comments/comments',
                     locals: {
                        comments: @comments,
                        pagination_url: screencast_comments_path(screencast),
                        commentable: screencast
                    }) %>
        </div>
      </div>

      <!-- SIDEBAR -->
		  <div class="grid_3 omega">
        <div class="right-content clearfix">
				  <%= render 'like_box' %>
        </div>
      </div>

    </div>
  </div>
</div>
