<div class="post-item">
	<div class="post-content">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <span><%= post.user.try(:name) %> // <%= time_ago_in_words post.created_at %> өмнө нийтэлсэн </span>
		<div class="separator"></div>
		<div class="post-text"><%= raw(post.content) %></div>

		<div class="post-tool clearfix">
      <span class="comment-count"><i class="comment-icon"></i><%= post.comments_count %> сэтгэгдэлтэй</span>
      <%= link_to 'Дэлгэрэнгүй', post_path(post), class: 'post-more' %>
		</div>
	</div>
</div>
