<div class="event-container">
<div class="container_10 clearfix">
	<!-- begin grid_10 -->
	<div class="grid_10">
		<div class="grid_7 alpha">
			<!-- begin left content -->
			<div class="left-content">
				<div class="post-item">
					<div class="post-content">
            <h2><%= post.title %></h2>
						<div class="post-text">
              <%= raw(post.content) %>
						</div>
					</div>
					<div class="post-item-tools">
						<ul>
							<li><span>Түгээх</span></li>
              <li><a onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" class="f-social-twitter" target="_blank" href="https://twitter.com/share?url=<%= post_url(post) %>"></a></li>
              <li><a class="f-social-facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=<%= post_url(post) %>"></a></li>
              <li><a onclick="return !window.open(this.href, 'GooglePlus', 'width=640,height=300')" href="https://plus.google.com/share?url=<%= post_url(post) %>" class="f-social-google" target="_blank"></a></li>
						</ul>

						<div class="published_by">
              <span><%= post.user.name %>  // <%= time_ago_in_words post.created_at %> өмнө нийтэлсэн</span>
						</div>
					</div>
				</div>

        <!-- COMMENTS -->
        <%= render(partial: 'comments/comments',
                     locals: {
                        comments: @comments,
                        pagination_url: post_comments_path(post),
                        commentable: post
                    }) %>

			</div>
			<!-- end left content -->
		</div>
		<!-- begin grid 3 -->
		<div class="grid_3 omega">
			<div class="right-content clearfix"></div>
		</div>
		<!-- end grid 3 -->
	</div>
</div>
</div>
