<footer class="clearfix">
	<div class="container_10">
		<div class="grid_10">
			<div class="grid_6 alpha">
				 <a href="javascript:void(0)" class="footer-moru-logo"></a> 
				 <div class="moru-desc">
				 	 <h2> MORU. </h2>
					 <span>
					 	MORU буюу Mongolian Rubyist бүлгэм нь Ruby програмчлалын хэл, 
						Ruby on Rails технологи, вэб хөгжүүлэх сүүлийн үеийн арга, 
						технологиудыг судлах, түгээн дэлгэрүүлэх зорилготой бүлгэм юм.
					 </span>
				 </div>
			</div>

			<div class="grid_4 omega">
				<div class="footer-menu clearfix">
          <%= link_to "Блог.", root_path %><span>//</span>
          <%= link_to "Видео.", screencasts_path %><span>//</span>
          <%= link_to "Сэдэв.", topics_path %>
				</div>
				<%= render 'shared/feedback' %>
			</div>
		</div>

		<div class="grid_10 margintop">
			<div class="grid_6 alpha">
				<div class="footer-social">
					<a href="https://github.com/limesoft/moru" class="f-social-git"></a>
					<a href="javascript:void(0)" class="f-social-twitter"></a>
					<a href="javascript:void(0)" class="f-social-facebook"></a>
					<a href="javascript:void(0)" class="f-social-rss"></a>
				</div>
			</div>
			<div class="grid_4 omega">
				<span class="developed_by">&copy;&nbsp;<%= Time.now.year %> MORU бүлгэм</span>
			</div>
		</div>
	</div>
</footer>
