<header class="clearfix">
	<div class="container_10">
		<div class="grid_10">

			<!-- Logo -->
			<a class="moru-logo"></a>

			<!-- social login section -->
      <% if user_signed_in? %>
			  <nav class="social-logged">
				  <ul>
            <li class="label"> <a href="javascript:void(0)"><%= current_user.name %></a></li>
					  <li class="avatar"><%= image_tag(current_user.default_avatar) %></li>
            <li class="logout"><%= link_to "", logout_path %></li>
				  </ul>
        </nav>
      <% else %>
			  <nav class="social-login">
			    <ul>
					  <li class="label"> <span> нэвтрэх </span></li>
					  <li><%= login_with_twitter %></li>
					  <li><%= login_with_facebook %></li>
					  <li><%= login_with_github %></li>
					  <li><%= login_with_google_oauth2 %></li>
				  </ul>
			  </nav>
      <% end %>

			<!-- main menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="javascript:void(0)" class="active">Нүүр</a></li>
					<li><a href="javascript:void(0)">блог</a></li>
					<li><a href="javascript:void(0)">уулзалт</a></li>
					<li><a href="javascript:void(0)">сэдэв</a></li>
				</ul>	
			</nav>
		</div>
	</div>
</header>
