<div class="next-event">
	<div class="event-title">
		<%= link_to current_event.title, event_path(current_event) %>
	</div>

	<div class="event-calendar clearfix">
		<div class="cal-item">
			<span class="cal-item-left"></span>
			<span class="cal-item-center"><%= current_event.date.month %></span>
			<span class="cal-item-right"></span>
		</div>
		<div class="cal-item">
			<span class="cal-item-left"></span>
			<span class="cal-item-center"><%= current_event.date.day %></span>
			<span class="cal-item-right"></span>
		</div>
		<div class="cal-item weekly">
			<span class="cal-item-left"></span>
			<span class="cal-item-center"><%= l current_event.date, format: :weekday %></span>
			<span class="cal-item-right"></span>
		</div>
	</div>

	<div class="event-location clearfix">
		<div class="loc-name">
			<div class="loc-left">
				<span><i class="loc-marker"></i>байршил</span>
			</div>
			<div class="loc-right">
				<span><i class="loc-time"></i><%= current_event.date.strftime("%H:%M") %></span>
			</div>
		</div>
		<div class="loc-text">
			<i class="loc-arrow"></i>
			<span>Empathy төвийн 4 давхарт Лектор төвийн байр</span>
		</div>
	</div>

	<% unless current_event.topics.empty? %>
	  <div class="event-topics">
		  <div class="topic-label">
			  <i class="topic-icon"></i>
			  яригдах сэдвүүд
		  </div>
		  <div class="topic-text">
			  <div class="topic-arrow"></div>
			  <ul class="clearfix">
					<% current_event.topics.each_with_index do | topic, index | %>
					<li <%= 'class=last' if current_event.topics.length-1 == index %> >
						<div class="speaker"> <%= link_to image_tag(topic.user.default_avatar), profile_path(topic.user), { rel: 'tooltip', title: topic.user.name } %> </div>
						<div class="speaker-topic">
							<%= link_to topic.try(:title), topic_path(topic) %>
							<span> <%=  topic.cached_votes_total %> санал авсан </span>
						</div>
					</li>
					<% end %>
				</ul>
		  </div>
	  </div>
	<% end %>

	<div class="rsvp-going">
		<% if user_signed_in? %>
			<div class="rsvp-label">
				<i class="rsvp-icon"></i>
				та очих уу?
			</div>
			<div class="rsvp-text">
				<div class="rsvp-arrow"></div>
				<%= form_for Rsvp.new, remote: true do |f| %>
					<%= f.select :going,
											 options_for_select(
															 [['- Сонгох -', RSVP_NO_ANSWER],
																['Тийм', RSVP_YES],
																['Магадгүй', RSVP_MAYBE],
																['Үгүй', RSVP_NO]], current_user.rsvp_of(current_event).try(:going)), {}, tabindex: 0, class: 'dk_container' %>
				<% end %>
				<ul class="going-list">
					<% current_event.with_going.each do |rsvp| %>
						<li>
							<%= link_to image_tag(rsvp.user.default_avatar), profile_path(rsvp.user), { rel: 'tooltip', title: rsvp.user.name } %>
						</li>
					<% end %>
				</ul>
			</div>
    <% elsif current_event.count_going > 0 %>
			<div class="rsvp-label">
				<i class="rsvp-icon"></i>
				Уулзалтанд <span><%= current_event.count_going %></span> хүн ирнэ
			</div>
			<div class="rsvp-text">
				<ul class="going-list">
					<% current_event.with_going.each do |rsvp| %>
						<li>
							<%= link_to image_tag(rsvp.user.default_avatar), profile_path(rsvp.user), { rel: 'tooltip', title: rsvp.user.name } %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>