<% if current_event %>
<aside class="next_event clearfix">
	<div class="container_10">
		<div class="grid_10">
			<div class="grid_5 alpha">
				<div class="event-box">
          <h2><%= link_to current_event.title, event_path(current_event) %></h2>
					<div class="separator clearfix"></div>
					<ul class="event-declare">
						<li><span><i class="icon-location"></i>EMPATHY ТӨВИЙН 4 ДАВХАРТ ЛЕКТОР ТӨВИЙН БАЙР</span></li>
            <li><span><i class="icon-time"></i><%= current_event.date.strftime("%H:%M") %> ЦАГТ</span></li>
					</ul>	
					<div class="event-calendar clearfix">
						<div class="cal-item">
							<span class="cal-item-left"></span>
							<span class="cal-item-center">
                <%= current_event.date.month %>
							</span>
							<span class="cal-item-right"></span>
						</div>
						<div class="cal-item">
							<span class="cal-item-left"></span>
							<span class="cal-item-center">
                <%= current_event.date.day %>
							</span>
							<span class="cal-item-right"></span>
						</div>
						<div class="cal-item last-item">
							<span class="cal-item-left"></span>
							<span class="cal-item-center">
                <%= l current_event.date, format: :weekday %>
							</span>
							<span class="cal-item-right"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="grid_5 omega">
				<div class="event-box clearfix">
					<h2> яригдах сэдвүүд:</h2>
					<ul class="event-topic">
            <%= render partial: 'events/topic', collection: current_event.topics %>
					</ul>
					<div class="guest-tool">
            <% if user_signed_in? %>
              <%= form_for Rsvp.new, remote: true do |f| %>
                <%= f.select :going,
                  options_for_select(
                    [['Та очих уу?', RSVP_NO_ANSWER],
                      ['Тийм', RSVP_YES],
                      ['Магадгүй', RSVP_MAYBE],
                      ['Үгүй', RSVP_NO]], current_user.rsvp_of(current_event).try(:going)), {}, tabindex: 0, class: 'dk_container' %>
                <div class="member-count" id="going-count"><span><%= current_event.count_going %></span></div>
              <% end %>
            <% else %>
							<div class="rsvp-statistics clearfix">
								<span class="yes-stat">Очно: <%= current_event.count_going %></span>
								<span class="other-stat">Магадгүй: <%= current_event.count_maybe %></span>
							</div>
            <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
<% end %>
