<!DOCTYPE html>
<html>
<head>
  <title>MORU: Mongolian Rubyist</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
  <!-- HEADER -->
	<%= render 'header' %>	

  <!-- CONTAINER -->
	<%= yield %>

  <!-- FOOTER -->
	<%= render 'footer' %>
</body>
</html>
