<!DOCTYPE html>
<html>
<head>
  <title>Moru</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'header' %>	
	<%= render 'next_event' %>
		<div class="container_10 clearfix">
			<%= yield %>
		</div>
	<%= render 'footer' %>
</body>
</html>
